<!DOCTYPE html>
<html lang="en">
<head>
    <title>InnoSphere Careers</title>
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    
</head>
<body>
    {% include 'nav.html'%}

     <!-- Image/Logo -->
    {% include 'banner.html' %} 
    <!-- App Name -->
    <h1 id="careers-heading">InnoSphere Careers</h1>

    <!-- About Company -->
    <div class="about-company">
        <div class="row">
            <div class="col-md-6">
                <p class="company-description">At InnoSphere, we are passionately committed to driving innovation and delivering cutting-edge technology solutions that empower our clients worldwide. We believe in fostering creativity, embracing new challenges, and pushing the boundaries of what's possible in the tech industry. Our team is dedicated to providing forward-thinking, scalable solutions tailored to meet the evolving needs of modern businesses. By joining InnoSphere, you will be part of a dynamic, collaborative, and diverse team that is shaping the future of technology. We offer opportunities to grow, innovate, and make a real impact. Together, we are paving the way for groundbreaking advancements that will redefine industries and revolutionize how businesses operate. Be a part of our journey to make technology smarter, faster, and more impactful.

            </div>
            <div class="d-none d-md-block col-md-6">
                <img src="{{url_for('static',filename='people.jpg')}}" alt="logo" style="margin-top: 50px; height: 320px;border-radius: 4px;"> 
            </div>
        </div>
           
    </div>

    <!-- Job Openings Template -->
    <div class="open-positions-section">
        <h2>Open Positions</h2>
        <div class="job-listing">
            {% for job in jobs %}
                {% include 'jobitem.html' %}
            {% endfor %}

        </div>
    </div>

    <div class="contact-btn">
        <a class="btn btn-primary btn-lg" href="mailto:harshith.l2000@gmail.com?subject=Question regarding job openings">
            Contact Us
        </a>
    </div>
    {% include 'footer.html' %}
</body>
</html>
